body {
  background-color: black;
}

.app-container {
  background: black;
  border: 1px solid blue;
  border-radius: 15px;
  min-height: 97vh;
}

p,
h2,
.menu-button {
  font-family: "Lucida Sans";
  color: white;
  font-size: 13px;
}

.main-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-button {
  border: 1px solid transparent;
  display: block;
  background: none;
  padding: 10px;
  transition: border-color 0.2s;
}

.menu-button:hover {
  border-color: white;
}

.config-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(50%, 300px);
}

.key-binding-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
}

.config-back {
  margin-top: 30px;
}

.game-container {
  display: flex;
  flex-direction: column;
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.score {
  font-size: 40px;
}

.game-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  height: 78vh;
}

.game-area-separator {
  width: 1px;
  height: 100%;
  background-color: white;
}

.playerOne {
  width: 10px;
  height: 50px;
  margin-left: 20px;
  background: red;
  position: relative;
}

.playerTwo {
  width: 10px;
  height: 50px;
  margin-right: 20px;
  background: blue;
  position: relative;
}
